
// colours

// grid
$color-0: #eee;
$color-1: #000;
$color-2: #fff;

// Pikachu
$color-3: #fff200;
$color-4: #ffc20e;
$color-5: #Ed1c24;
$color-6: #990030;
$color-7: #804000;
$color-8: #9c5a3c;
$color-9: #ffa3b1;
$color-10: #fff9bd;
$color-11: #dcdcdc;
